// app global css in SCSS form
:root {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    overflow: hidden;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: var(--eb-bg);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--eb-fg);
}

.q-splitter__panel {
    overflow: inherit;
}

.text-fg {
    color: var(--eb-fg);
}

.bg-bg {
    color: var(--eb-bg);
}

body {
    color: var(--eb-fg);
    background-color: var(--eb-bg);
    overflow: hidden!important;
}

// 覆盖Quasar样式
.q-btn {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.q-btn:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.q-scrollarea__thumb, .q-scrollarea--dark .q-scrollarea__thumb {
    background-color: var(--vscode-scrollbarSlider-background);
    width: 14px;
    border-radius: 0;
}

.q-scrollarea__thumb:hover, .q-scrollarea--dark .q-scrollarea__thumb:hover {
    background-color: var(--vscode-scrollbarSlider-hoverBackground);
    opacity: 1;
}

.q-scrollarea__thumb:active, .q-scrollarea--dark .q-scrollarea__thumb:active {
    background-color: var(--vscode-scrollbarSlider-activeBackground);
    opacity: 1;
}

.q-slider__thumb {
    color: var(--vscode-progressBar-background);
}

.q-slider__track {
    color: var(--vscode-progressBar-background);
}

.q-bar {
    background-color: var(--vscode-toolbar-hoverBackground);
}

.q-field {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.q-field__control {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.q-field--outlined .q-field__control::after {
    border-color: var(--vscode-input-border);
}

.q-menu {
    box-shadow: 0 0 2px var(--eb-fg);
}

.q-tooltip {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    box-shadow: 0 0 2px var(--eb-fg);
}