// app global css in SCSS form
:root {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    overflow: hidden;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: var(--eb-bg);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--eb-fg);
}

.q-splitter__panel {
    overflow: inherit;
}

.text-fg {
    color: var(--eb-fg);
}

.bg-bg {
    color: var(--eb-bg);
}

body {
    color: var(--eb-fg);
    background-color: var(--eb-bg);
    overflow: hidden!important;
}

.selected {
    background: var(--vscode-list-activeSelectionBackground)!important;
    color: var(--vscode-list-activeSelectionForeground)!important;
}
.list-selection:hover {
    background: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
}

// 分隔线
.sprt {
    background-color: var(--vscode-textSeparator-foreground);
}

// 覆盖Quasar样式
.q-btn {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.q-btn:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.q-scrollarea__thumb, .q-scrollarea--dark .q-scrollarea__thumb {
    background-color: var(--vscode-scrollbarSlider-background);
    width: 14px;
    height: 12px;
    border-radius: 0;
    opacity: 1;
}

.q-scrollarea__thumb:hover, .q-scrollarea--dark .q-scrollarea__thumb:hover {
    background-color: var(--vscode-scrollbarSlider-hoverBackground);
    opacity: 1;
}

.q-scrollarea__thumb:active, .q-scrollarea--dark .q-scrollarea__thumb:active {
    background-color: var(--vscode-scrollbarSlider-activeBackground);
    opacity: 1;
}

.q-slider__thumb {
    color: var(--vscode-progressBar-background);
}

.q-slider__track {
    color: var(--vscode-progressBar-background);
}

.q-bar {
    background-color: var(--vscode-toolbar-hoverBackground);
}

.q-field, .q-field__control, .q-field__label {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.q-field--outlined .q-field__control::after {
    border-color: var(--vscode-input-border);
}

.q-menu {
    box-shadow: 0 0 2px var(--eb-fg);
    background-color: var(--vscode-menu-background);
    color: var(--vscode-menu-foreground);
    user-select: none;
}

.q-tooltip {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    box-shadow: 0 0 2px var(--eb-fg);
}

// 未选中外部边框
.q-checkbox__bg {
    color: var(--vscode-checkbox-border);
}

// 发光区域颜色
.q-checkbox__inner {
    color: var(--vscode-checkbox-foreground);
}

// 选中后外部边框
.q-checkbox__inner--truthy .q-checkbox__bg {
    color: var(--vscode-checkbox-selectBorder);
}

// 选中后内部区域颜色
.q-checkbox__inner--indet .q-checkbox__bg {
    color: var(--vscode-checkbox-selectBackground);
}

// 勾√的颜色
.q-checkbox__svg {
    color: var(--vscode-checkbox-foreground);
}

.q-field--error .q-field__bottom {
    color: var(--vscode-errorForeground);
}

.text-negative {
    color: var(--vscode-inputValidation-errorBorder)!important;
}